 /* src/components/Login.css */
 .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

/* Set a fixed width for both the image and the login form */
.login-image {
  width: 300px; /* Adjust the width as needed */
}

.login-form {
  width: 270px; /* Adjust the width to match the image */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative; /* Add position relative to establish stacking context */
  z-index: 1; /* Set a positive z-index value */
}

.login-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  background-color: #ccc; /* Change the background color to gray */
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button {
  position: sticky; /* Set the position to sticky */
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  right: 20px; /* Adjust the distance from the right as needed */
  background-color: #55298B; /* Change the background color to blue */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  z-index: 2; /* Set a higher z-index value to ensure the button is on top */
}

button:hover {
  background-color: #55298B;
}

/* Update the 'bg-secondary' class to define a blue background color */
.bg-secondary {
  background-color: #FFD404; /* Replace 'blue' with your desired shade of blue */
}

.bg-primary {
  background-color:  #55298B; /* Replace 'blue' with your desired shade of blue */
}

.crear-form {
  color: #000000;
  text-align: left;
  float: left;
  padding: 10px;
  margin: 20px;
  width: 90%;
}

.input-group {
  display: flex;
  align-content: stretch;
  margin-bottom: 15px;

}

.input-group > input {
  width: 100%;
  padding: 10px;
  background-color: #ccc; /* Change the background color to gray */
  border: 1px solid #ccc;
  border-radius: 3px;
}

.input-group-addon {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0.5em 1em;
}

 .form-crear-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}
.title{
  aling: center;
  margin-bottom: 15px;
  padding: 0 20px;
}

table
{
  border-collapse: collapse;
  width: 100%; 
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color:#000;
}

th
{
  background-color: black;
  color: white;
}

th, td 
{
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

.ContenedorTabla 
{
  margin-left: auto;
  margin-right: auto;
  max-width:1260px;
  width: 100%; 
}
.BotonesTeam,.BotonesTeam1,.BotonesTeam2,.BotonesTeam3,.BotonesTeam4,.BotonesTeam5
{ 
  text-align:center;
  display: inline-block;
  background:#0258b6;
  padding: 6px 10px;
  border-radius:6px;
  text-decoration: none;
  color:white;
  border:2px solid black;
  cursor:pointer;
  font-size: 16px;
}
.BotonesTeam1,.BotonesTeam2,.BotonesTeam3
{
  transition: transform 250ms;
  width:100px;
  background:green;
}
.BotonesTeam2
{
  background:#185ca7;
}
.BotonesTeam3
{
  background:#cf055f;
}
.BotonesTeam4
{
  background:#11757A;
}
.BotonesTeam5
{
  transition: transform 250ms;
  background:#B63C12;
}
.BotonesTeam1:hover,.BotonesTeam2:hover,.BotonesTeam3:hover,.BotonesTeam5:hover
{
  transform: translateY(-10px);
}
.ContBuscar
{
  overflow: hidden;
  padding-top:1%;
}
.CajaTextoBuscar
{
  width: 300px;
  padding: 10px;
  font-size:1em;
  border-radius:5px;
  border:1px solid black;
  color:black;
}
.ContenedorPrincipal 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}
.Admin_panel {
  display: block;
  color: #000000;
  text-align: left;
  float: left;
  padding: 10px;
  margin: 20px;
  width: 90%;
}

.contenedor_popup 
{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  width:400px; 
  transition: all 0.2s;
  background-color:white;
}

.caja_popup2 
{
  display: block;
  position: absolute;
  padding:0;
  background-color:rgba(0, 0, 0, 0.5); 
  width:100%;
  height:100%;
}